<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> parent of 052a2de... Merge branch 'master' into 102
﻿<h2>@ViewData["Title"].</h2>
=======
﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> origin/meaghanlewis-patch-2
=======
<h3>@ViewData["Contact"]</h3>
>>>>>>> add-github-pane-views
=======
>>>>>>> origin/meaghanlewis-patch-2
>>>>>>> master
=======
>>>>>>> origin/meaghanlewis-patch-2
>>>>>>> parent of 052a2de... Merge branch 'master' into 102
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<<<<<<< HEAD
>>>>>>> origin/0521-changes
=======
>>>>>>> parent of 052a2de... Merge branch 'master' into 102
